<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>maven_prj</display-name>
  <context-param>
    <param-name>UPLOAD_DIR</param-name>
    <param-value>D:\IT\Kosmo\kosmo_workspace\WEB_PRJ\webapp\uploads</param-value>
  </context-param>
  <context-param>
    <param-name>MAX_SIZE</param-name>
    <param-value>1000000</param-value>
  </context-param>
  <context-param>
    <param-name>FILE_FORMAT</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <servlet>
    <servlet-name>lmsServlet</servlet-name>
    <servlet-class>com.kosmo.board.TestServlet</servlet-class>
    <init-param>
      <param-name>MAX_SIZE</param-name>
      <param-value>1000000</param-value>
    </init-param>
    <init-param>
      <param-name>UPLOAD_DIR</param-name>
      <param-value>C:\Users\user\Pictures</param-value>
    </init-param>
    <init-param>
      <param-name>FILE_FORMAT</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>lmsServlet</servlet-name>
    <url-pattern>/abc</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>